<nav class="navbar navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">Axios</a>
    <a class="navbar-brand" href="/birds">Go to birds</a>
     <a class="navbar-brand" href="/birds/newBird">Add new bird</a>
  </div>
</nav>