<h1>Courses</h1>

<div>
  {{#each courses as |course|}}
  <div class="card m-2" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{course.name}}</h5>
      <p class="card-text">{{course.type}}</p>
      <form action="/courses/{{course.id}}/delete" method="POST">
      <button type="submit" class="btn btn-danger">Delete</button>
          </form>
    </div>
  </div>
  {{/each}}
</div>

<a class="btn btn-primary" href="/courses/createCourse">Create new course</a>