<h2>Update Course</h2>

<form action="/course/{{course._id}}" method="POST">
  <div class="mb-3">
    <label for="name" class="form-label">Course Name</label>
    <input value="{{course.name}}" type="text" class="form-control" id="name" name="name" >
  </div>
  <div class="mb-3">
    <label for="type" class="form-label">Type</label>
    <input value="{{course.type}}" type="text" class="form-control" id="type" name="type" >
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>