<form action="/cakes" method="post">
    <div class="form-group">
        <label for="name" class="form-label">Name</label>
        <input name="name" type="text" class="form-control form-control-lg" id="name" placeholder="Cake name">
    </div>

    <div  class="form-group">
        <label for="previewDescription" class="form-label">Short description</label>
        <input name="previewDescription" type="text" class="form-control form-control-lg" id="previewDescription">
    </div>
        <div   class="form-group">
            <label for="detailDescription" class="form-label">Detailed description</label>
            <input name="detailDescription" type="text" class="form-control form-control-lg" id="previewDescription">
        </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>