<form action="/pokemons" method="post">
  <div class="mb-3">
    <label for="name" class="form-label">Name</label>
    <input name="name" type="text" class="form-control" id="name" aria-describedby="emailHelp">
  </div>

  <select name="type" class="form-select mb-3" aria-label="Default select example">
    <option selected value="Fuego">Fuego</option>
    <option value="Planta">Planta</option>
    <option value="Rayo">Rayo</option>
    <option value="Agua">Agua</option>
    <option value="Psiquico">Psiquico</option>
    <option value="Roca">Roca</option>
  </select>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>